 <div class="container text-center">
      <div class= "content">
        <!-- <p class="welcome-text">Welcome to </p> -->
        <div class="row align-items-center">
          <div class="header-content" >
            <div class="col" >
              <a href="https://stetter-itq.com">
                <img  class="GC-logo-size" src="assets/images/ITQLogoGC.png" alt="Company Logo GC" >
              </a>
            </div>
            <div class = "col">
              <img class="Makeathon-logo-size" src="assets/images/SMGI_Logo.jpg" alt="Island Logo" >
            </div>
            <div class="col" >
              <a href="https://www.itq.de">
                <img class="DE-logo-size" src="assets/images/ITQLogoDE.png" alt="Company Logo DE" >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
